In [1]:
x = [1, 2, 3, 4, 5]
for i in x:
    print(i ** 2)

1
4
9
16
25

In [3]:
x = [1, 2, 3, 4, 5]
output = []
for i in x:
    output.append(i**2)  # [1, 4, 9, 16, 25]
print(output)

[1, 4, 9, 16, 25]

In [11]:
x = [1, 2, 3, 4, 5]
output = []
for i in x:
    if i%2!=0:
        print("ODD")
    else:
        print("EVEN")

ODD
EVEN
ODD
EVEN
ODD

In [13]:
x = [1, 2, 3, 4, 5]
output = []
for i in x:
    if i % 2 == 1:
        output.append("odd")
    else:
        output.append("even")
print(output)

['odd', 'even', 'odd', 'even', 'odd']

In [23]:
x = [11, 12, 24, 1, 2, 3, 1, 6, 2, 7, 11, 19, 3, 8, 9, 3, 9, 10, 11, 12, 24, 1, 2, 3, 8]
#unique items 
unique_items = []
for i in x:
    if i not in unique_items:
        unique_items.append(i)
print(unique_items)

[11, 12, 24, 1, 2, 3, 6, 7, 19, 8, 9, 10]

In [24]:
name = 'rAmesh pradhan'  #no. of vowels = aeiou

count = 0

for i in name:
    if i.lower() in 'aeiou':
        count+=1

print(count)

4

In [34]:
marks = {'Alan': 99 , 'Bill': 55, 'Cory': 77}
print(marks.values())

dict_values([99, 55, 77])

In [35]:
marks = {'Alan': 99 , 'Bill': 55, 'Cory': 77}
total_marks = 0

for mark in marks.values():
    total_marks += mark
print(total_marks)

231

In [53]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#{'Alan':4, 'Bil':3, 'Esha': 4, 'Harin': 5, 'Shyam': 5, 'Krishna': 7}
output = {}
for student in students:
      output [student] = len(student) 
print(output)

{'Alan': 4, 'Bil': 3, 'Esha': 4, 'Harin': 5, 'Shyam': 5, 'Krishna': 7}

In [1]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#{'Alan':4, 'Bil':3, 'Esha': 4, 'Harin': 5, 'Shyam': 5, 'Krishna': 7}
output = {}
for student in students:
      output= {(student) : len(student)}
      print(output)

{'Alan': 4}
{'Bil': 3}
{'Esha': 4}
{'Harin': 5}
{'Shyam': 5}
{'Krishna': 7}

In [2]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#{'Alan':4, 'Bil':3, 'Esha': 4, 'Harin': 5, 'Shyam': 5, 'Krishna': 7}
output = {}
i = 0

for student in students:
    output[student] = i
    i+=1
print(output)

{'Alan': 0, 'Bil': 1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}

In [23]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#{'Alan':0, 'Bil':1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}
output = {}
i = 0

for student in students:
    output.update({student:i})
    i+=1
print(output)

{'Alan': 0, 'Bil': 1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}

In [24]:
range(0, 10)

range(0, 10)

In [25]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
for i in range(0, 10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(0, 10, 1):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(0, 10, 2):
    print (i)

0
2
4
6
8

In [29]:
for i in range(0, 10, 3):    #start, stop, step
    print (i)

0
3
6
9

In [30]:
for i in range(0, 10, 4):
    print (i)

0
4
8

In [31]:
for i in range(10, 0, -1):    #start, stop, step
    print (i)

10
9
8
7
6
5
4
3
2
1

In [32]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#{'Alan':0, 'Bil':1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}
output = {}
i = 0

for student in range(0 , 6):
    output[students[i]] = i
    i+=1
print(output)

{'Alan': 0, 'Bil': 1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}

In [34]:
students = {'Alan':0, 'Bil':1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}
#output = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
output = []
for i in students.keys():
    output.append(i)
print (output)

['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']

In [43]:
students = ['Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna']
#output = {'Alan', 'Bil', 'Esha', 'Harin', 'Shyam', 'Krishna'}
output = {}
for i in range(0, len(students)):
    output[students[i]] = i
print (output)

{'Alan': 0, 'Bil': 1, 'Esha': 2, 'Harin': 3, 'Shyam': 4, 'Krishna': 5}

In [52]:
us_price = {"milk": 2.03, "bread": 2.6, "butter": 3.6}
#convert us dollar in rupees
nep_price = {}
for k, v in us_price.items():
    nep_price.update({k: v * 132})
print(nep_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [53]:
us_price = {"milk": 2.03, "bread": 2.6, "butter": 3.6}
#convert us dollar in rupees
nep_price = {}
for k, v in us_price.items():
    nep_price.update({k: v * 132 *1.13})
print(nep_price)

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 536.9759999999999}

In [58]:
us_price = {
    'milk': 2.03,
    'bread': 2.6,
    'iphone': 999,
    'butter': 3.6,
    'meat': 5,
    'mobile': 5000,
    'laptop': 1000,
    'television': 340
}
#<5 = 13%  > =20%
nep_price = {}
for k, v in us_price.items():
    if v<=5:
        nep_price.update({k: v * 132 *1.13 })
    else:
        nep_price.update({k: v * 132 *1.20})
print(nep_price)

{'milk': 302.79479999999995, 'bread': 387.816, 'iphone': 158241.6, 'butter': 536.9759999999999, 'meat': 745.8, 'mobile': 792000.0, 'laptop': 158400.0, 'television': 53856.0}

In [1]:
k, v = 'milk', 13

In [ ]:
age = int(input("Enter the age"))
i = 0
for i in age:
    if i<18:
        print(f"Your age is: {i}")
    else:
        print("Welcome")