In [11]:
def addition():   #function definition
    x = 1
    y = 2
    sum = x + y
    print (sum)
addition()

3

In [14]:
def addition(x, y):   #parameters / arguements
    sum = x + y
    print(sum)   
addition()

TypeError: addition() missing 2 required positional arguments: 'x' and 'y'

In [15]:
addition(x=2, y=5)

7

In [19]:
addition(2, 7)

9

In [20]:
addition(y = 4, x= 5)

9

In [21]:
addition(2, y=9)

11

In [22]:
addition(2, x=4)

TypeError: addition() got multiple values for argument 'x'

In [23]:
from math import sqrt

In [24]:
sqrt(4)

2.0

In [25]:
help(sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [28]:
def addition(x, y): #parameters / arguements
    """Return the sum of x and y"""   #yo tin wola quoatation ma j lekhyo tei print garchha
    sum = x + y
    print(sum)

In [29]:
help(addition)

Help on function addition in module __main__:

addition(x, y)
    Return the sum of x and y

In [30]:
def addition(x, y):
    sum = x + y
    return sum

In [31]:
addition(3, 5)

8

In [32]:
h = addition(4, 6)

In [34]:
print(h)

10

In [42]:
def addition(x, y=0):      # y is default argument
    sum = x + y    
    return sum

In [49]:
addition(4)

4

In [53]:
def addition(y, x=0):      # x is default argument
    sum = x + y    
    return sum

In [54]:
addition(7)

7

In [72]:
def number(x, y):
    add = x + y
    sub = x - y
    mult = x * y
    div = x / y
    return add, sub, mult, div    #exit from function

In [73]:
number(3, 5)

(8, -2, 15, 0.6)

In [74]:
result = number(4, 6)
print(result)

(10, -2, 24, 0.6666666666666666)

In [78]:
# tuple unpacking
addition, substraction, division, multiplication = number(3, 5)
print(addition, substraction, division, multiplication)

8 -2 15 0.6

In [ ]:
def number(x, y, z, a)

In [85]:
def addition(*args):   #jati wota pathaye pani output nikalna lai
    print(args, type(args))

In [86]:
addition(1, 2, 3)

(1, 2, 3) <class 'tuple'>

In [88]:
addition(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [101]:
def addition(*args):   #positional argument
    sum = 0
    for i in args:
        sum += i
    return sum

In [102]:
addition(1, 2, 3, 4, 5)

15

In [103]:
addition(x=6, y=4)

TypeError: addition() got an unexpected keyword argument 'x'

In [104]:
def addition(**kwargs):
    print(kwargs)       #keyword arguments

In [105]:
addition(x=1, y=5)

{'x': 1, 'y': 5}

In [111]:
def addition(**kwargs):
    sum = 0
    for i in kwargs.values():
        sum += i
    return sum

In [112]:
addition(x= 3, y=2)

5

In [113]:
addition(3, 4, 5, x=1, y=2, z= 4, a=6)

TypeError: addition() takes 0 positional arguments but 3 were given

In [114]:
#kwargs ra args duitai lini banaune