In [1]:
#boolean value 
bool(0)

False

In [2]:
bool()

False

In [3]:
bool([])

False

In [4]:
bool(False)

False

In [5]:
bool("")

False

In [6]:
# 0, 0.0, ' ', None, [], (), {}, set(), False => boolean value / Truthness is False

In [7]:
bool('0.0')

True

In [8]:
any([0, '', None, [], (), {}, set(), False])

False

In [9]:
any([0, '', None, [], (), {}, set(), False, -1])

True

In [11]:
all([0, '', None, [], {}, (), {}, set(), False])

False

In [12]:
all([1, True, 'hello'])

True

In [13]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [14]:
filter(None, [0, -1, '', '0', 'hello', False, None, 1, 5.5])

In [15]:
list(filter(None, [0, -1, '', '0', 'hello', False, None, 1, 5.5]))

[-1, '0', 'hello', 1, 5.5]

In [29]:
#odd hoki even 
def num(i):
    if i%2!=0:
        return False
    else:
        return True

In [30]:
num(4)

True

In [33]:
def is_odd(n):
    if n%2==1:
        return True
    else:
        return False

In [35]:
is_odd(4)

False

In [41]:
def is_odd(n):
    return n%2==1

In [42]:
is_odd(2)

False

In [43]:
is_odd(3)

True

In [44]:
list(filter(is_odd, [1, 27, 3, 6, 9, 21]))

[1, 27, 3, 9, 21]

In [45]:
is_odd = lambda n: n%2 == 1

In [46]:
is_odd(4)

False

In [48]:
list(filter(lambda n: n%2 == 1, [1, 27, 3, 6, 9, 21]))

[1, 27, 3, 9, 21]

In [50]:
square = lambda n: n** 2

In [55]:
list(map(lambda n: n ** 2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [56]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [57]:
map(square, [1, 2, 3, 4, 5, 6])

In [58]:
list(map(square, [1, 2, 3, 4, 5, 6]))

[1, 4, 9, 16, 25, 36]

In [63]:
def addition(x, y):
    return x+y

In [64]:
add = lambda x, y: x+y

In [67]:
add(3, 5)

8

In [68]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [69]:
def addition(x, y):
    return x+y

In [70]:
reduce(addition, [1, 2, 3, 4])   # 1+2, 3, 4 = 3, 3, 4 = 6, 4 = 10

10

In [71]:
reduce(lambda x, y: x+y, [1, 2, 3, 4])

10

In [73]:
def mean(numbers):
    sum = 0
    for i in numbers:
        sum += i
    m = sum / len(numbers)
    return m

In [75]:
mean([1, 2, 4, 3, 6])

3.2

In [78]:
#OOP => Object Oriented Programming
#class => Person => Blueprint
#object => Ram => Actual instance of class

In [86]:
#DateTime
#FUNCTION:
def today_date():
    pass
def today_time():
    pass
def today_day():
    pass
def today_week():
    pass
def today_month():
    pass
def today_year():
    pass
def today_utc_time():
    pass

In [88]:
class DateTime:    #PascalCase
    def today_date():   #lowercase => snake case
        pass
    def today_time():
        pass
    def today_day():
        pass
    def today_week():
        pass
    def today_month():
        pass
    def today_year():
        pass
    def today_utc_time():
        pass

In [89]:
class Person:
    name = "Ram"
    age = 22
    phone_number = 9872637913
    address = "Kathmandu"

In [98]:
p = Person()  #jati ota ni object banauna milchha

In [99]:
print(p)

<__main__.Person object at 0x000002A27791E5D0>

In [100]:
p1 = Person()

In [101]:
p2 = Person()

In [102]:
p1.name

'Ram'

In [103]:
p2.name

'Ram'

In [105]:
class Person:
    #attribute/property (inside class), variable (outside class)
    name = "Ram"
    age = 22
    phone_number = 9872637913
    address = "Kathmandu"
    
    #action/ behaviour/method(inside class) , function(outside class)
    def eat():
        pass
    def sleep():
        pass
    def walk():
        pass

In [106]:
p = Person()
p.name

'Ram'

In [109]:
def person(name, age, address):   #bahira bata value lina lai
    print(name, age, address)

In [110]:
person("ram", 22, "ktm")

ram 22 ktm

In [111]:
class Person(name, age, address):
    #attribute/property (inside class), variable (outside class)
    name = "Ram"
    age = 22
    address = "Kathmandu"
    
    #action/ behaviour/method(inside class) , function(outside class)
    def eat():
        pass
    def sleep():
        pass
    def walk():
        pass

NameError: name 'name' is not defined

In [114]:
class Person:
    def __init__(self, name, age, address):
        print(name, age, address)
    #attribute/property (inside class), variable (outside class)
    name = "Ram"
    age = 22
    address = "Kathmandu"
    
    #action/ behaviour/method(inside class) , function(outside class)
    def eat():
        pass
    def sleep():
        pass
    def walk():
        pass

In [115]:
p1 = Person("ram", 22, "ktm")

ram 22 ktm

In [3]:
class Person:
    def __init__(self, name, age, address):
        print(name, age, address)
    #attribute/property (inside class), variable (outside class)
        self.name = "Ram"
        self.age = 22
        self.address = "Kathmandu"
    
    #action/ behaviour/method(inside class) , function(outside class)
    def eat(self):
        print("Person is eating")
    def sleep(self):
        print("Person is sleeping")
    def walk(self):
        print("Person is walking")
    def info(self):
        print(f"Name:{self.name}")
        print(f"Age: {self.age}")
        print(f"Address: {self.address}")
class Student(Person):    #single inheritence
    def __init__(self, name, age, address, college, faculty, roll_no):
        super(). __init__(name, age, address)     #duplicate lai inherit gareko
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []
    def learn(self):
        print(f"Student is learning: {self.subjects}")
    def add_subject(self, name):
        if name not in self.subjects:
            self.subjects.append(name)
     #self is object
    def info(self):
        super().info()
        print(f"Roll_no: {self.roll_no}")
        print(f"Faculty: {self.faculty}")
        print(f"Subjects: {self.subjects}")
        print(f"College: {self.college}")

In [7]:
s1 = Student(name = "Ram", age= 22, address = "ktm", faculty = "IT", college = "Ismt", roll_no= 5)

Ram 22 ktm

In [8]:
s1.info()

Name:Ram
Age: 22
Address: Kathmandu
Roll_no: 5
Faculty: IT
Subjects: []
College: Ismt

In [9]:
class Father:
    pass
class Mother:
    pass
class Child(Father, Mother): #multiple class inherit
    pass

In [10]:
#Parent class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person Class')
        print('Name:', name, 'Age:' , age)

#Parent class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company Class')
        print('Name:', company_name, 'location:', location)

#Child class
class Employee(Person, Company):
    def employee_info(self, salary, skill):
        print('Inside Employee Class')
        print('Salary:', salary, 'Skill:', skill)

#create object of employee
emp = Employee()

#access data
emp.person_info('Esha', 23)
emp.company_info('Pinterest', 'Adelaide')
emp.employee_info(959000, 'Machine Learning')

Inside Person Class
Name: Esha Age: 23
Inside Company Class
Name: Pinterest location: Adelaide
Inside Employee Class
Salary: 959000 Skill: Machine Learning