In [1]:
#set

In [3]:
s = {1, 2, 3, 4, 5}
print(s, type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [6]:
#set is in unordered collection
s={'ram', 3, 4, 5,'hari', 1, 2, 'shyam', (6,7,8)}
print(s)

{1, 2, 3, 4, 5, 'ram', (6, 7, 8), 'shyam', 'hari'}

In [8]:
#collects unique unordered collection
s= {'ram', 1, 2,'ram', 4, 5, 3, 'shyam', 'ram', (6, 7, 8)}
print(s)

{1, 2, 3, 4, 5, 'ram', (6, 7, 8), 'shyam'}

In [9]:
#we cannot add mutable datastructure = [list]
s = {'ram', 1, 2,'ram', 4, 5, 3, 'shyam', 'ram', (6, 7, 8), [4, 5, 6]}
print(s)

TypeError: unhashable type: 'list'

In [11]:
empty_str = '' #str ()
empty_list = []  #list()
empty_tuple = () #tuple()
empty_set = set()  #set()
empty_dict = {} #dict()

In [12]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}

tea_or_coffee = tea | coffee #set union
print(tea_or_coffee)

{'shiva', 'ram', 'sita', 'esha', 'shyam', 'kapil', 'gita'}

In [13]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}

tea_or_coffee = tea.union(coffee) #set union
print(tea_or_coffee)

{'shiva', 'ram', 'sita', 'esha', 'shyam', 'kapil', 'gita'}

In [18]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}
tea_and_coffee = tea & coffee #set intersection
print(tea_and_coffee)

{'gita'}

In [19]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}
tea_and_coffee = tea.intersection(coffee) #set intersection
print(tea_and_coffee)

{'gita'}

In [22]:
tea = {'ram', 'shyam', 'gita', 'sita'}   #common hataune
coffee = {'shiva', 'kapil', 'esha', 'gita'}
tea_only = tea - coffee #set difference
print(tea_only)

{'ram', 'sita', 'shyam'}

In [24]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}  #common hataune
coffee_only = coffee - tea #set difference
print(coffee_only)

{'esha', 'kapil', 'shiva'}

In [25]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}  #common hataune
coffee_only = coffee.difference(tea) #set difference
print(coffee_only)

{'esha', 'kapil', 'shiva'}

In [27]:
tea = {'ram', 'shyam', 'gita', 'sita'}
coffee = {'shiva', 'kapil', 'esha', 'gita'}
tea_only_or_coffee_only = tea.symmetric_difference(coffee)  #common bahek sabai output dinchha
print(tea_only_or_coffee_only)

{'shiva', 'ram', 'esha', 'sita', 'shyam', 'kapil'}

In [29]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.add('31')
print(s)

{1, 2.6, 3, 'shyam', '31', (4, 5, 6), 'ram', 'hari'}

In [33]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.append('31')   #append hudaina in set
print(s)

AttributeError: 'set' object has no attribute 'append'

In [34]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.clear()
print(s)

set()

In [42]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.add((1, 2, 3))   #tuple mai add hunchha = dhikka nai ()
print(s)

{1, 2.6, 3, 'shyam', (4, 5, 6), 'ram', (1, 2, 3), 'hari'}

In [43]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.update((10, 20, 30))  #separately add hunchha
print(s)

{1, 2.6, 3, 10, 20, (4, 5, 6), 30, 'ram', 'shyam', 'hari'}

In [45]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.remove(2.6)  #value hatchha
print(s)

{1, 3, 'shyam', (4, 5, 6), 'ram', 'hari'}

In [48]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.remove(10)  #navako value dida, error aauchha
print(s)

KeyError: 10

In [51]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
s.discard(10)  #discard le navako value hatauna khojda error audaina, remove ma aauchha
print(s)

{1, 2.6, 3, 'shyam', (4, 5, 6), 'ram', 'hari'}

In [52]:
s = {'ram', 'shyam', 1, 2.6, 3, 'hari', (4, 5, 6), 'ram'}
print(s.pop())

1

In [60]:
x = [1, 2, 3, 4, 5]
max(x)

5

In [61]:
x = [1, 2, 3, 4, 5]
min(x)

1

In [62]:
x = [1, 2, 3, 4, 5]
sum(x)

15

In [63]:
x = [8, 4, 9, 1, 5, 2, 7, 6, 3]
sorted(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
x = [8, 4, 9, 1, 5, 2, 7, 6, 3]
sorted(x, reverse = True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
x = [8, 4, 9, 1, 5, 2, 7, 6, 3]
len(x)

9

In [71]:
x = [8, 4, 9, 1, 5, 2, 7, 6, 9, 8, 3]   #list ma unique value hunu parena
sorted(x), len(x), sorted(x, reverse = True)

([1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 9], 11, [9, 9, 8, 8, 7, 6, 5, 4, 3, 2, 1])